{% extends "base.html" %}
{% block content %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="ui error message">
    <div class="header">Error message</div>
</div>
{% endfor %}
{% endif %}
{% if form.errors and not form.non_field_errors %}
<div class="ui error message">
    <div class="ui error message">Что-то пошло не так...</div>
</div>
{% endif %}



<form method="post" action="{% url 'projects.projects.views.new_project' %}">
    {% csrf_token %}
<div class="ui input">
  <input type="text" name="name" placeholder="Name...">
</div>
<div class="ui input">
  <input type="text" name="comment" placeholder="Comment...">
</div>

           <button class="ui blue submit button" type="submit" value="new_project">
                <i class="archive icon"></i>
                Создать
            </button>

    </form>
{% endblock %}