{% extends "base.html" %}
{% block content %}
<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">{{ project.name }}</div>
      <div class="meta">{{ project.pub_date }}</div>
      <div class="description">
        {{ project.comment }}
      </div>
    </div>
  </div>
<form action="/projects/{{ project.id }}/delete/" method="post">{% csrf_token %}
<button class="ui active button">
  <i class="minus circle icon"></i>
  Delete
</button>
</form>

<a href="/project_form/{{ project.id }}/">
<button class="ui active button">
  <i class="minus circle icon"></i>
  Update
</button>
</a>
</div>
{% endblock %}