/*******************************
      Definition Container
*******************************/

 > .pusher > .footer {
  clear: both;
}

 .main.container {
  background-color: #FFFFFF;
  margin: 0em auto;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: 2em 2em 7em;
  z-index: 1;
}
 .wide.main.container {
  width: 80%;
  margin: 0 auto;
  right: 0;
  max-width: 1140px;
}

 .main.container > .right.rail .sticky,
 .main.container > .tab > .examples > .right.rail .sticky,
 .main.container > .tab > .right.rail .sticky {
  width: 300px;
  padding: 2em 0em;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
 .container {
  position: relative;
  width: 915px;
  margin: 0px auto;
}

 .following.menu .menu .active.item {
  font-weight: bold;
}
 .following.menu .item .menu {
  margin: 0em;
}
 .following.menu .menu .item {
  margin: 0em;
  padding: 0.5rem 0.25rem;
}

 only screen and (max-width : 400px) {
   .advertisement {
    max-width: 260px;
  }
}
 only screen and (max-width : 600px) {
   .solid,  .stripe {
    padding: 4em 0em;
  }
   > .pusher > .footer {
    padding: 2em 0em;
  }
   .container {
    width: auto;
    margin: 0em 1rem;
  }
   .main.container {
    padding: 1em;
    box-shadow: none;
  }
   .header.segment {
    padding-top: 60px;
    padding-bottom: 20px;
  }
   .example i.code {
    opacity: 0.3;
  }
   .example i.code:hover {
    opacity: 1;
  }
}

 only screen and (min-width : 600px) and (max-width : 998px) {
   .container {
    width: auto;
    margin: 0em 2rem;
  }
   .header .button {
    margin-bottom: 0.5em;
  }
   .main.container {
    padding: 1em 2em;
  }
}

 only screen and (max-width : 998px) {

   > .pusher {
    display: block;
    width: 100%;
    height: auto;
  }
   > .pusher > .full.height {
    display: block;
    height: auto;
  }
   .following.menu {
    display: none;
  }
}
 only screen and (min-width : 998px) {
   .following.menu {
    display: block;
  }
   .container {
    right: 110px;
  }
}

 only screen and (min-width: 1200px) {
   .introduction {
    display: block;
  }
   .advertisement {
    left: 100%;
    padding-left: 0em;
    position: absolute;
    top: -1em;
    vertical-align: top;
  }
}
 only screen and (min-width : 998px) and (max-width: 1200px) {
   .header.segment .container {
    width: 878px;
    right: -24px;
  }
   .tab.header.segment .tabular.menu {
    width: 680px;
  }
   .container {
    width: 680px;
    right: 75px;
    margin: 0em auto;
  }
   .container .right.rail {
    width: 200px;
    padding-left: 0em;
  }
   .main.container > .right.rail .sticky,
   .main.container > .tab > .right.rail .sticky {
    width: 200px;
  }
}
 only screen and (min-width : 1200px) and (max-width: 1355px) {
   .container {
    width: 765px;
    right: 128px;
    margin: 0em auto;
  }
}
 only screen and (min-width : 1355px) {
   .container {
    width: 850px;
  }
  .item .container,
  .card .container {
    width: 965px;
  }
}


